@tailwind base;
@tailwind components;
@tailwind utilities;

.centered {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

@layer base {
    :root {
        color-scheme: dark;
        --radius: 0.5rem;
    }
}

/* Styles the entire scrollbar */
::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
    height: 6px;
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply rounded-lg border bg-secondary
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
