@font-face {
    font-family: 'Geist';
    src: url('/fonts/GeistVariableVF.ttf') format('truetype-variations');
}

@font-face {
    font-family: "Geist Mono";
    src: url('/fonts/GeistMonoVariableVF.ttf') format('truetype-variations');
}

.h1 {}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles the entire scrollbar */
::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
    height: 6px;
    @apply bg-transparent
}

::-webkit-scrollbar-thumb {
    @apply rounded-lg border bg-secondary
}

.centered {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
 
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 0.3s ease-out;
}

.fade-in {
    animation: fadeIn 0.3s ease-out;
}

p, h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    @apply tracking-tighter;
}

.shadow-class {
    @apply shadow-md shadow-secondary-muted/50
}
 
@layer base {
    :root {
        color-scheme: dark;
        --radius: 0.4rem;
    }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
